@import "tpl/panel";
@import "tpl/disable";
 
 #elementor-panel-page-editor > #elementor-panel__editor__help,
 #elementor-panel-page-menu > #elementor-panel__editor__help{ display:none; }


 
 
 
 #elementor-panel{
    opacity: 1;
    transition: 0.3s;
 }
 
 #elementor-panel.hideme{  
    &:before{
       content:'';
       position: absolute;
       top:0;
       opacity: 1;
       left:0;
       width: 100%;
       height:100%;
       z-index: 99;
       background: #eee;
       transition: 0.3s;
    }
    transition: 0.3s;
 }


 #elementor-panel.hidme.hideani{
   &:before{
      opacity: 0;
   }
 }  


 #elementor-panel.hide{  
    display: none;;
 }
 


 .elementor-loader{
   background-image:url(ft-logo2.png);
   background-position: center;
   background-repeat: no-repeat;
}