#elementor-panel-get-pro-elements{
    display:none;
}

.elementor-loader{
    visibility: hidden;
}

.elementor-loader-wrapper{
    background-image:url(FT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:140px auto;
 }

 .elementor-panel #elementor-panel-header{
    background-color: #3b83ba ! important;
 }
 #elementor-panel-header-title img{
     visibility: hidden;
     display: none;
 }
 #elementor-panel-header-title::before{
    content: '';
    font-size: 20px;
    display: block;
    margin-right: 10px;
    background: url(cws.jpg);
    width: 32px;
    height: 32px;
 }

 #elementor-panel-header-title{
     display: flex ! important;
     align-items: center;
     justify-content: center;
     height: 100%;;
 }

 .elementor-panel .elementor-panel-navigation .elementor-panel-navigation-tab.elementor-active{
     border-color:#0092ab ! important;
 }

 /*   全域小工具  */
 #elementor-panel-elements-navigation  .elementor-panel-navigation-tab[data-tab=global]{
     display:none ! important;
 }

 /*  專業版關掉 */
 #elementor-panel-category-pro-elements{
     display: none;
 }

 /* ICON change */

 .eicon-wordpress-light:before{
    content: '\e96d' ! important; 
 }


 .e-logo-wrapper{
     display: none ! important;
 }



body .block-editor #elementor-switch-mode .button i{
    background-image:url(ft-logo2.png);
}



 @media (max-width:1440px) {
     #ft_mask{
         left:280px;
     }
 }



 /*   Disable first  */
/*
#elementor-panel-elements-search-area,
#elementor-panel-category-favorites,
#elementor-panel-category-wordpress
#elementor-panel-category-woocommerce-elements{
    display: none ! important;
}
*/
#elementor-panel-category-qi-addons,
#elementor-panel-category-qode,
#elementor-panel-category-element-pack{
    display: none;;
}

#elementor-panel-page-menu-content .elementor-panel-menu-group:nth-child(1),
#elementor-panel-page-menu-content .elementor-panel-menu-group .elementor-panel-menu-item-finder,
#elementor-panel-category-theme-elements,
#elementor-panel-elements-search-area,
#elementor-panel-category-favorites,
#elementor-panel-category-woocommerce-elements,
#elementor-panel-category-wordpress,
 #elementor-panel-footer-settings,
 #elementor-panel-footer-navigator,
 #elementor-panel-footer-history,
 #elementor-panel-footer-responsive{
     display: none;
 }